.toolbar {
  display: flex;
  height: auto;
  background: url(https://codeboost.com.br/projetos/pokeapi/img/bg-red.svg);
  max-height: 20px;
  min-height: 120px;
  }

.Logo{
  justify-content: center;
}
  
.link {
  margin-top: 5px;
  margin-left: 10px;
}
