.toolbar {
    display: flex;
    height: auto;
    background-image: linear-gradient(
      to bottom right,
      rgba(179, 235, 232, 0.863),
      rgba(98, 158, 145, 0.897),
      rgba(30, 150, 150, 0.829)
    );
  }
  
  .link {
    margin-top: 5px;
    margin-left: 10px;
  }
  .link1 {
    margin-top: 5px;
    margin-left: 1140px;
  }
  .link2 {
    margin-top: 5px;
    margin-left: 10px;
  }