.conteir{
    width: auto;
    height: auto;
    min-height: 900px;
    max-height: 398px;
    max-width: 1390px;
    min-width: 500px;
    display: flex;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 5px;
    background-image: url(https://guikao.files.wordpress.com/2012/01/pokemon_wallpaper01_1680.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-left: solid 3px white;
    border-right: solid 3px white;
    box-shadow: 1px 9px 3px 8px rgb(0 0 0 / 74%);
    
}

.cardD{
    width: auto;
    height: auto;
    max-width: 900px;
    min-width: 300px;
    margin-top: 1px;
    border: cornflowerblue solid 2px;
    background: url(https://i.pinimg.com/736x/1b/b4/f2/1bb4f25c40209294bbb6b06a63414f75.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: -100px;
    box-shadow: 7px 2px 3px 2px rgb(0 0 0 / 74%);
}

.col-1{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 360px, 720px;
    margin-top: -60px;
    margin-left: 1px;
    grid-area: left;
    width: 264px;
    height: 885px;
    box-shadow: 7px 0px 0px -1px rgb(0 0 0 / 74%);
}

.Imagem{
    width: 200pt;
    margin-top: 217px;
    margin-left: 48px;
}

.col-2{
    display: block;
    background: rgba(73, 73, 73, 0.233);
    box-shadow: 4px 0px 3px 2px #000000bd;
    // border: 3px solid rgb(166, 255, 251);
    border-radius: 5px;
    margin-top: -710px;
    margin-left: 320px;
    margin-right: 5px;
    height:auto;
    width: auto;
    max-width: 500px;
    min-width: 140px;
}

.Status{
    width: auto;
    height: auto;
    max-width: 500px;
    min-width: 140px;
    border-radius: 5px;
    min-height: 250px;
    margin-left: 320px;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: 4px 6px 3px 2px #000000bd;
    background:rgba(73, 73, 73, 0.39);
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.name{
    display: flex;
    width: auto;
    margin-bottom: -20px;
    margin-top: 20px;
    margin-left: 250px;
    padding: 10px;
    height: auto;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background:black;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.type{
    display: inline;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 3px black;
    font-size: large;
    color: black;
}

.medidas{
    display: inline-block;
    margin-left: 5px;
    margin-top: -5px;
    margin-bottom: 3px;
    border-radius: 4px;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 3px black;
    background-color: rgba(223, 1, 139, 92%);
    font-size: large;
    color: black;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.fracoForte{
    display: inline;
    width: auto;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    height: auto;
    box-shadow: 2px 2px 3px black;
    font-size: large;
    color: black;
}


.habilidades{
    display: inline;
    width: auto;
    border-radius: 4px;
    margin-left: 5px;
    height: auto;
    box-shadow: 2px 2px 3px black;
    background-color: rgba(223, 1, 139, 92%);
    font-size: large;
    color: black;
}

.A{
    display: inline-block;
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0 0 0 / 70%);
}
