.conteir{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.cardD{
    z-index: 2;
    max-width: 71rem;
    height: 500px;
    box-shadow: 0px 10px 40px rgb(13 12 71 / 5%);
    border-radius: 16px;
    display: flex;
    transition: all 0.3s;
    border: 1px solid yellow;
    width: 750px;
    box-shadow: 10px 5px 5px black;
    background-image: url('https://wallpaperaccess.com/full/5539464.jpg');
    background-repeat: no-repeat;
    background-position: 0px -50px;
    background-size: 750px 700px;
}

.col-1{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border:1px solid red;
    grid-area: left;
    margin-left: -17px;
    width: 200px;
    background:rgba(255, 255, 255, 0.356);
    height: 483px;

}

.Imagem{
    width: 150pt;
    height: 200pt;
    position: absolute;
    margin-top: 100px;
    margin-left: 15px;
    border-radius: 30px;
}

.col-2{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgb(166, 255, 251);
    grid-area: right;
    margin-right: -17px;
    margin-top: -17px;
    height: 500px;
    width: 600px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.name{
    margin-left: 45px;
    background:rgba(255, 255, 255, 0.356);
    width: 500px;
    height: 30px;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.type{
    margin-left: 45px;
    width: 500px;
    height: 30px;
    background:rgba(255, 255, 255, 0.356);
    box-shadow: 0px 0px 0px black;
}

.medidas{
    margin-left: 45px;
    margin-top: -5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 500px;
    height: 30px;
    box-shadow: 0px 0px 0px black;
    background:rgba(255, 255, 255, 0.356);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.fraquesas{
    width: 500px;
    border-radius: 5px;
    margin-left: 45px;
    height: 45px;
    color:black solid;
    box-shadow: 0px 0px 0px black;
    background:rgba(255, 255, 255, 0.356);
}

.Status{
    width: 500px;
    border-radius: 5px;
    height: 250px;
    margin-left: 45px;
    box-shadow: 0px 0px 0px black;
    background:rgba(255, 255, 255, 0.356);
}

.A{
    margin-left: 45px;
    font-size: larger;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius:10px 
}
