<div class="conteir">
    <div class="cardD">
        <mat-card-title class="name">{{personagensPokemon.name}} n°{{idPokemon}}</mat-card-title>
            <div class="col-1">
                <img class="Imagem" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{idPokemon}}.svg" >
            </div>
            <!--  -->
    
        <div class="col-2">

            CONTEUDO
            <!-- <div class="type">tipo</div>
            <a class="A">medidas</a>
            <div class="medidas">
                height {{personagensPokemon.height}}
                weight {{personagensPokemon.weight}}Kg
            </div >
                <a class="A">Weaknesses</a>
            <div class="fraquesas">Weaknesses</div> -->
        </div>  
        
        <div class="Status">
        <a class="A">Status</a>
        Status</div>
    </div>
</div>
