<div class="conteir">
    <mat-card class="cardD" >
        <mat-card-header class="col-1">
            <img class="Imagem" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{idPokemon}}.png" >
        </mat-card-header>
        <mat-card-content class="col-2">
            <mat-card-title class="name">{{personagensPokemon.name}} n°{{idPokemon}}</mat-card-title>
            <div class="type">tipo</div>
            <a class="A">medidas</a>
            <div class="medidas">
                height {{personagensPokemon.height}}
                weight {{personagensPokemon.weight}}Kg
            </div >
                <a class="A">Weaknesses</a>
            <div class="fraquesas">Weaknesses</div>
            <a class="A">Status</a>
            <div class="Status">Status</div>
        </mat-card-content>
    </mat-card>   
</div>
