.container{
    display: flex;
    height: auto;
    max-height: 398px;
    min-height: 700px;
    width: auto;
    max-width: 852px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 5px;
}
.cardD{

    //url(https://cdn.dribbble.com/users/956603/screenshots/6348374/pokeball.png?compress=1&resize=400x300&vertical=top);
    width: auto;
    height: auto;
    max-height: 550px;
    min-height: 820px;
    margin-bottom: 68px;
    max-width: 908px;
    min-width: 576px;
    margin-top: 20px;
    border-top: solid 5px #ffca00;
    border-bottom: solid 5px #ffca00;
    background: #ffffff url(../../../img/pokeballAzul.png);
    background-size: 598px;
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: 245px;
    box-shadow: 7px 0px 0px -1px rgb(0 0 0 / 7%);
    border-radius: 20px;
}

.direção{    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100px;
    margin-top: 20px;
}

.posição{
    margin-left: 325px;
    height: 75px;
    margin-top: -295px;
}

.posição1{
    display: flex;
    flex-direction: column;
    margin-left: 325px;
    height: 200px;
}

.posição2{
    width: 120px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 316px;
    height: 284px;
    margin-top: -311px;
    padding: 15px;
    margin-left: 5px;
}

.bg{
    width: 191px;
    height: 508px;
}

.Imagem{
    margin-left: 6px;
    width: 280px;
}

.icon{
    width: 33px;
    margin-left: 19px;
    margin-top: 20px;
    margin-bottom: -33px;
}

.Status{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    padding-right: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 110px;
    box-shadow: 4px 6px 3px 2px rgb(0 0 0 / 3%);
    background: rgba(17, 17, 17, 0.596);
}
//----------------------------------------
.status_name{
    width: 34%;
    height: 20px;
    float: left;
    color:white;
    font-weight: bold;
}
.status_valor{
    height: 20px;
    float: right;
    color: #e8f7ff;
    font-weight: bold;
    overflow: hidden;
}
.name_centralizado{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
    width: 110px;
}
.valor{
    background-color: red;
    height: 18px;
    position: relative;
    top:50%;
    margin-left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
.name{
    display: flex;
    width: auto;
    margin-bottom: 310px;
    margin-right: 25px;
    padding: 10px;
    height: auto;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.type{
    display: inline-flex;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 5px;
    width: auto;
    min-width: 90px;
    max-width: 75px;
    height: auto;
    font-size: 15px;
    font-weight: bold;
    color: black;
    justify-content: center;
}

.medidas{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px; 
    margin-bottom: 3px;
    border-radius: 4px;
    width: auto;
    min-width: 87px;
    max-width: 100px;
    height: auto;
    background-color: rgba(216, 10, 137, 0.87);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.fracoForte{
    display: inline-flex;
    width: auto;
    max-width: 111px;
    min-width: 90px;
    justify-content: center;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 3px;
    height: auto;
    font-size: large;
    color: black;
}


.habilidades{
    display: inline;
    width: auto;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px; 
    height: auto;
    background-color: rgb(64 143 253 / 48%);
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.A{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
