.container {
  width: 100%;
  display: block;
  // background-image: url(https://cdn.wallpapersafari.com/75/83/S1GOo7.png) url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
  background: white url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}
  