<div class="posição">
    <mat-card class="card" *ngFor="let pokemon of pokemonList" (click)="detailsPokemons(pokemon.id)">
        <mat-card-title-group>
            <div>
                <img class="minPokeball" src="https://codeboost.com.br/projetos/pokeapi/img/icon-poke-red.svg">
                <img class="card_img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png">
            </div><br/>
            <div class="card_info">
                <span class="card_infoSpan" > #{{pokemon.id}} </span>
                <h2 class="card_infoH2">{{pokemon.name}}</h2>
            </div>
        </mat-card-title-group>
    </mat-card>
</div>